:root {
  --primary-color: #3b7ea1;
  --primary-accent:#1e6ed6;
  --secondary-color: #0e2a2f;
  --light-color: #f1f6f7;
  --text-dark: #1e2d2f;
  --text-light: #e9f5f4;
  --text-secondary: #cde6e4;
  --text-ultra: #4ebf88;
  --q-color: #4aa3c0;
  --q-color-02: #4aa3c080;
  --violet: #32797d;
  --violet-1: #275f63;
  --dark-violet: #14393e;

  --opacity-05: 0.5;
  --opacity-02: 0.2;
}
/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

p,
li {
  text-wrap: pretty;
}

.wrapper {
  max-inline-size: 1440px;
  margin-inline: auto;
  padding-inline: 16px;
}

/* Basic Buttons style */
.button-filled {
  background-color: var(--q-color);
  border: none;
  border-radius: 3px;
  border: 2px solid var(--q-color);
  cursor: pointer;
}

.button-shadow {
  box-shadow: 0px 0px 4px 0px var(--q-color);
}

.button-transparent {
  background-color: var(--q-color-02);
  border-radius: 3px;
  border: 2px solid var(--q-color);
  color: var(--q-color);
  cursor: pointer;
}

.button-transparent:hover {
  background-color: var(--q-color);
  color: white;
}

.button-filled:hover {
  background-color: var(--q-color-02);
  color: white;
}

.button-filled,
.button-transparent {
  transition: all 0.3s ease;
}

.button-small {
  padding: 11px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-medium {
  padding: 11px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* Basic Input style */
.subscribe {
  display: flex;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--dark-violet);
}

.subscribe input {
  background-color: var(--dark-violet);
  border: none;
}

.subscribe input::placeholder {
  opacity: 0.34;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--text-light);
  padding: 15px 16px;
}

.subscribe input:focus {
  border: none;
  outline: none;
}

/* Folder look alike divider for sections */
.folder-divider {
  height: 25px;
  position: relative;
  background-color: var(--light-color);
}

.folder-divider::before {
  content: "";
  position: absolute;
  top: -23px;
  width: 70%;
  height: 24px;
  background: url(./img/Rectangle\ 47.svg);
  background-size: cover;
}

/* Header component styles */
.header {
  background: var(--secondary-color);
}

.wrapper.header-box {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  background: var(--secondary-color);
  border: none;
  cursor: pointer;
}

.hamburger .close-icon {
  display: none;
}

.hamburger.active .menu-icon {
  display: none;
}

.hamburger.active .close-icon {
  display: block;
}

.navigation {
  display: none;
  z-index: 10;
  flex-direction: column;
  background: var(--violet);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.navigation.active {
  display: flex;
}

.close-icon {
  align-self: flex-end;
  font-size: 22px;
  color: var(--text-light);
  cursor: pointer;
}

.navigation-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-top: 20px;
}

.menu-item {
  color: var(--text-light);
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.navigation.active {
  display: flex;
}

.login-registration {
  margin-top: auto;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.login-registration .button-transparent,
.login-registration .button-filled {
  width: 50%;
}

.login-registration-desktop {
  display: none;
}

.navigation-desktop {
  display: none;
}

/* Main Page styles */
.main-page {
  background-color: var(--secondary-color);
  position: relative;
}

.wrapper.main-page-content {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 60px;
}

.main-text-box {
  margin-top: 33px;
}

.main-text {
  margin-top: 12px;
  font-size: 16px;
  opacity: 0.8;
  color: var(--text-secondary);
}

.main-page-background img {
  max-width: 300px;
}

.subscribe-box {
  margin-top: 24px;
}

.subscribe-box .subscribe {
  justify-content: space-between;
  margin-bottom: 12px;
}

.subscribe-box p {
  color: var(--text-light);
  opacity: 0.3;
}

.main-page-subscribe {
  min-width: 30%;
}

.main-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  text-transform: uppercase;
  color: var(--text-light);
}

/* Section Statistics styles*/

.statistics {
  background-color: var(--light-color);
  position: relative;
}

.wrapper.statistics-box {
  padding-top: 24px;
  padding-bottom: 48px;
}

.statistics-title-box {
  margin-bottom: 40px;
  grid-column: 1 / -1;
}

.statistics-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-dark);
}

.statistics-text {
  color: var(--text-dark);
  opacity: 0.5;
}

.card-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 32px;
}

.statistics-card {
  text-transform: uppercase;
  color: var(--text-dark);
}

.statistics-card .value {
  font-weight: 500;
  font-size: 35px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--violet);
}

/* Section Deals styles*/

.deals {
  background: var(--secondary-color);
}

.wrapper.deals-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 48px;
  padding-bottom: 77px;
}

.deals-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-light);
}

.deals-status {
  display: flex;
  gap: 7px;
  align-items: center;
}

.round-dot {
  width: 7px;
  height: 7px;
  background-color: var(--text-ultra);
  border-radius: 100%;
}
.deals-status-text {
  opacity: 0.9;
  color: var(--text-ultra);
}

/* carousel */
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  position: relative;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scrollbar-width: none;
  -ms-overflow-style: none;
 
  anchor-name: --carousel;
  scroll-marker-group: after;

  &::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
  }

  > li {
    color:var(--text-ultra);
    scroll-snap-align: center;

    &::scroll-marker {
      content: " ";
      width: 10px;
      height: 10px;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
      border: 2px solid CanvasText;
    }

    &::scroll-marker:target-current {
      background: LinkText;
    }
  }
}

 
.carousel-item {
  position: relative;
  min-width: 300px;
  height: 210px;
  background: var(--primary-accent);
  color: white;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 16px 13px 16px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.carousel-item::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.currency-box {
  grid-column: 1;
  grid-row: 1;
}

.income-box {
  grid-column: 1;
  grid-row: 2;
}

.income-value-box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card-background {
  justify-self: end;
  grid-column: 2;
  grid-row: 1 / 3;
  margin-right: -13px;
}

.target-box {
  grid-column: 1 / 3;
  grid-row: 3;
  display: flex;
  justify-content: space-between;
}

.currency {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--text-light);
}

.timestamp {
  font-weight: 500;
  line-height: 18px;
  opacity: 0.4;
}

.income {
  opacity: 0.7;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-light);
}

.income-value {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-ultra);
}

.target {
  opacity: 0.7;
  font-weight: 500;
  line-height: 18px;
  color: var(--text-light);
}

.date {
  opacity: 0.4;
  line-height: 18px;
  color: var(--text-light);
}

/*Section About styles */

.about {
  background-image: linear-gradient(
    to bottom,
    var(--light-color) 70%,
    var(--secondary-color) 30%
  );
}

.wrapper.about-box {
  padding-top: 24px;
}

.about-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-dark);
  margin-bottom: 20px;
}

.about-text {
  font-size: 16px;
  color: var(--text-dark);
}

.about .subscribe-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: var(--text-light);
  margin-bottom: 20px;
}

.about .subscribe-box {
  background-color: var(--violet);
  padding: 16px;
  border-radius: 4px;
  max-width: 630px;
  justify-self: center;
}

.about.subscribe {
  flex-direction: column;
  gap: 8px;
  background: var(--violet);
}

.about.subscribe input {
  padding: 16px;
  border-radius: 4px;
}

/* Section Company Description styles*/

.company-description {
  background: var(--secondary-color);
}

.wrapper.company-description-box {
  padding-top: 56px;
}

.description-card-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.description-card {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.description-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 40px;
}

.description-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--light-color);
  margin-bottom: 8px;
}

.description-card-text {
  opacity: 0.8;
  color: var(--light-color);
}

/* Section Tariffs styles*/
.tariffs {
  background-color: var(--secondary-color);
  padding-top: 56px;
  padding-bottom: 44px;
}

.tariffs-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-light);
  margin-bottom: 24px;
}

.tariff-select {
  background-color: var(--dark-violet);
  display: flex;
  justify-content: space-between;
  padding: 4px;
  margin-bottom: 24px;
  border-radius: 4px;
}

.tariff-select button {
  flex: 1;
  max-width: 180px;
  box-shadow: none;
}

.tariff-select .button-transparent {
  border: 2px solid var(--dark-violet);
}

.tariff-option {
  border: 1px solid var(--violet);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
}

.tariff-option-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--text-light);
  margin-bottom: 24px;
  padding: 0 16px;
}

.tariff-details-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tariff-details {
  padding: 0 16px;
  display: flex;
  align-items: baseline;

  gap: 8px;
  margin-bottom: 16px;
}

.tariff-details img {
  width: 12px;
  height: 12px;
}

.dashed-divider {
  border: none;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.tariff-details p {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-light);
}

.duration-container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.duration-box {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 55px;
  padding: 0 16px;
  margin-bottom: 24px;
}

.tariff-price {
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  color: var(--text-light);
}

.discount {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--text-ultra);
  position: absolute;
  top: -5%;
  right: -60%;
}

.tariff-container {
  position: relative;
  display: inline-block;
}

.select-duration {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin: 2px 0;
  color: var(--text-light);
}

.select-duration:focus {
  outline: none;
}

.select-duration option {
  color: var(--text-dark);
  background-color: rgba(255, 255, 255, 0.2);
}

.select-duration option:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.tariff-try {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-inline: 16px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.tariff-try .additional-option {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  opacity: 0.56;
}

.tariff-option.vip {
  margin-top: 20px;
  background-color: var(--violet);
}

/* Section FAQ Styles */

.faq {
  background: var(--light-color);
  padding-top: 56px;
  padding-bottom: 54px;
}

.faq-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-dark);
  margin-bottom: 40px;
}

.accordion {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accordion-header {
  background-color: #eaeff0;
  padding: 16px;
  padding-bottom: 12px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.accordion-header.active {
  background-color: var(--violet);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.accordion-header.active h3 {
  color: var(--text-light);
}

.accordion-header h3 {
  width: 80%;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--text-dark);
}

.accordion-open {
  transition: transform 0.3s ease;
  stroke: var(--secondary-color);
}

.accordion-open.active {
  transform: rotate(180deg);
  stroke: var(--light-color);
}

.accordion-content {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  background-color: var(--violet);
  padding: 0 16px;
}

.accordion-content p {
  font-size: 16px;
  color: var(--text-light);
  padding-bottom: 16px;
  margin: 0;
}

/* Footer styles */

.footer {
  background-color: var(--secondary-color);
}

.top-footer {
  padding: 40px 42px 57px 15px;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  opacity: 0.4;
  text-transform: uppercase;
  color: var(--text-light);
}
.footer-menu {
  list-style: none;
  display: block;
  gap: 1rem;
}


.footer-menu li {
  margin-bottom: 16px;
}

.footer-menu-item {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--text-light);
  text-decoration: none;
}

.footer-divider {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bottom-footer {
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.legal {
  opacity: 0.5;
  text-decoration: none;
  color: var(--text-light);
}

.bottom-divider {
  border: none;
  border-bottom: 5px solid var(--violet);
}

.desktop {
  display: none;
}

/* Desktop view Styles*/
@media (min-width: 992px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .wrapper {
    margin-inline: auto;
    padding-inline: 80px;
  }

  /* Folder look alike divider for sections */
  .folder-divider {
    height: 60px;

  }

  .folder-divider::before {
    top: -35px;
    width: 40%;
    height: 60px;
    background: url(./img/Rectangle\ 71.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* Header component Desktop view styles */
  .wrapper.header-box {
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  .navigation-desktop {
    display: flex;
    justify-content: space-between;
  }

  .navigation-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
  }

  .menu-item {
    font-size: 14px;
    line-height: 17px;
    margin-right: 32px;
  }

  .login-registration-desktop {
    margin-top: 0;
    display: flex;
    gap: 12px;
  }

  /* Main Page Desktop view styles */
  .wrapper.main-page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 160px;
    padding-bottom: 194px;
  }

  .main-text-box {
    margin-top: 0px;
    grid-column: 1;
    grid-row: 1;
  }

  .main-title {
    font-size: 60px;
    line-height: 72px;
  }

  .main-text {
    margin-top: 12px;
    font-size: 16px;
    opacity: 0.8;
    color: var(--text-secondary);
  }

  .main-page-background {
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
  }

  .main-page-background img {
    max-width: 470px;
  }

  .subscribe-box {
    max-width: 500px;
    grid-column: 1;
    grid-row: 2;
  }

  /* Statistics Desktop view styles*/
  .wrapper.statistics-box {
    padding-bottom: 60px;
  }

  .statistics-title-box {
    margin-bottom: 0px;
    grid-column: 1;
  }

  .statistics-title {
    font-size: 44px;
    line-height: 56px;
  }

  .card-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .statistics-card {
    text-transform: uppercase;
    color: var(--text-dark);
  }

  .statistics-card .title {
    opacity: 0.8;
  }

  .statistics-card .value {
    font-size: 60px;
  }
  /* Section Deals Desktop styles*/

  /*Section About Desktop styles */
  .about {
    background-image: none;
    background-color: var(--light-color);
  }

  .wrapper.about-box {
    padding-top: 56px;
    padding-bottom: 92px;
    display: flex;
  }

  .about-text-box {
    max-width: 420px;
  }

  .about-title {
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 40px;
  }

  .about .subscribe-title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 32px;
  }

  .about .subscribe-box {
    margin-left: auto;
    padding: 32px 64px 40px 64px;
  }

  .about.subscribe {
    flex-direction: row;
    gap: 0px;
    background: var(--dark-violet);
  }

  /* Section Company Description  Desktop styles*/

  .company-description {
    background: var(--secondary-color);
  }

  .wrapper.company-description-box {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
  }

  .description-title {
    font-size: 44px;
    line-height: 56px;
    margin-bottom: 0px;
    max-width: 25%;
  }

  .description-card-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 65%;
  }

  /* Section Tariffs Desktop view styles*/
  .tariffs {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .wrapper.tariffs-box {
    max-width: 65%;
    padding-inline: 0;
  }

  .tariffs-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--text-light);
    margin-bottom: 24px;
  }

  .tariff-select {
    margin-bottom: 44px;
    max-width: 50%;
    justify-content: flex-start;
  }

  .tariff-select button {
    font-size: 24px;
    line-height: 28px;
    max-width: none;
  }

  .tariff-select .button-transparent {
    background: transparent;
  }

  .tariff-options {
    display: flex;
    gap: 20px;
  }

  .tariff-option-title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 56px;
  }

  .tariff-option.vip {
    margin-top: 0px;
  }

  /* Section FAQ Styles */

  .faq {
    background: var(--light-color);
    padding-top: 56px;
    padding-bottom: 54px;
  }

  .wrapper.faq-box {
    max-width: 65%;
    padding-inline: 0;
  }

  /* Footer styles */

  .footer {
    background-color: var(--secondary-color);
  }

  .top-footer {
    padding: 40px 42px 57px 15px;
    display: flex;
    justify-content: space-between;
  }

  .footer-title {
    opacity: 0.4;
    text-transform: uppercase;
    color: var(--text-light);
  }

  .footer-menu {
    display: flex;
  }

  .footer-menu li {
    margin-bottom: 16px;
  }

  .footer-menu-item {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--text-light);
    text-decoration: none;
  }

  .footer-divider {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .bottom-footer {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
  }

  .legal {
    opacity: 0.5;
    text-decoration: none;
    color: var(--text-light);
  }

  .bottom-divider {
    border: none;
    border-bottom: 5px solid var(--violet);
  }
}
