:root {
  --primary-color: violet;
  --secondary-color: black;
  --light-color: #ffff;
  --text-dark: black;
  --text-light: white;
  --text-secondary: #e7f7f8;
  --text-ultra: #35ff9e;
  --q-color: #57e1ff;
  --violet: #6a54ff;
  --dark-violet: #201a4f;
}
/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.wrapper {
  max-inline-size: 1440px;
  margin-inline: auto;
  padding-inline: 16px;
}

/* Basic Buttons style */
.button-filled {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--q-color);
  border: none;
  padding: 16px 24px;
  border-radius: 3px;
  border: 2px solid var(--q-color);
}

.button-shadow {
  box-shadow: 0px 0px 4px 0px var(--q-color);
}

.button-transparent {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 16px 24px;
  border-radius: 3px;
  border: 2px solid var(--q-color);
  color: var(--q-color);
}

/*
.button-filled:hover,
.button-transparent:hover {
  box-shadow: 0px 0px 8px 0px #57e1ff;
}
*/
.button-transparent:hover {
  background-color: var(--q-color);
  color: white;
}

.button-filled,
.button-transparent {
  transition: all 0.3s ease;
}

/* Basic Input style */
.subscribe {
  display: flex;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--dark-violet);
}

.subscribe input {
  background-color: var(--dark-violet);
  border: none;
}

.subscribe input::placeholder {
  opacity: 0.34;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--text-light);
  padding: 15px 16px;
}

.subscribe input:focus {
  border: none;
  outline: none;
}

/* Header component styles */
.header {
  background: var(--secondary-color);
}

.wrapper.header-box {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  background: var(--secondary-color);
  border: none;
  cursor: pointer;
}

.hamburger .close-icon {
  display: none;
}

.hamburger.active .menu-icon {
  display: none;
}

.hamburger.active .close-icon {
  display: block;
}

.navigation {
  display: none;
  z-index: 10;
  flex-direction: column;
  background: var(--violet);
  position: absolute;
  width: 100%;
}

.close-icon {
  align-self: flex-end;
  font-size: 22px;
  color: var(--text-light);
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
}

.menu-item {
  color: var(--text-light);
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-item:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.navigation.active {
  display: flex;
}

.login-registration {
  display: flex;
  justify-content: space-between;
}

.login-registration .button-transparent,
.login-registration .button-filled {
  flex: 1;
  max-width: 30%;
}

/* Landing Page styles */
.main-page {
  background-color: var(--secondary-color);
  position: relative;
}

.main-page-content {
  display: flex;
  flex-direction: column;
}

.main-text-box {
  order: 2;
  margin-top: 33px;
}

.main-text {
  margin-top: 12px;
  font-size: 16px;
  opacity: 0.8;
  color: var(--text-secondary);
}

.main-page-background {
  order: 1;
  margin-top: 40px;
  margin-bottom: 33px;
}

.main-page-background img {
  max-width: 300px;
}

.subscribe-box {
  order: 3;
  margin-top: 24px;
  margin-bottom: 37px;
}

.subscribe-box .subscribe {
  justify-content: space-between;
  margin-bottom: 12px;
}

.subscribe-box p {
  color: var(--text-light);
  opacity: 0.3;
}

.main-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  text-transform: uppercase;
  color: var(--text-light);
}

/* Section Statistics styles*/

.statistics {
  background-color: var(--light-color);
  position: relative;
}

.curve {
  position: absolute;
  height: 25px;
  bottom: -43px;
  z-index: 1;
  width: 50%;
}

.curve.main-page-curve path {
  fill: var(--light-color);
}

.wrapper.statistics-box {
  padding: 24px 10px 48px 10px;
}

.statistics-title-box {
  margin-bottom: 40px;
}

.statistics-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-dark);
}

.statistics-text {
  color: var(--text-dark);
  opacity: 0.5;
}

.card-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.statistics-card {
  text-transform: uppercase;
  color: var(--text-dark);
}

.statistics-card .value {
  font-weight: 500;
  font-size: 35px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--violet);
}

/* Section Deals styles*/

.deals {
  background: #000001;
}

.wrapper.deals-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 48px 0 53px 16px;
}

.deals-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-light);
}

.deals-status {
  display: flex;
  gap: 7px;
  align-items: center;
}

.round-dot {
  width: 7px;
  height: 7px;
  background-color: var(--text-ultra);
  border-radius: 100%;
}
.deals-status-text {
  opacity: 0.9;
  color: #35ff9e;
}

.carousel-container {
  position: relative;
  width: 100%;
}

.carousel {
  display: flex;
  gap: 10px;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  padding-top: 16px;
}

#carousel-slider {
  width: 100%;
  margin-top: 10px;
  appearance: none;
  height: 5px;
  background: #434f70;
  outline: none;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

#carousel-slider::-webkit-slider-thumb {
  appearance: none;
  width: 60px;
  height: 16px;
  background: #6073a1;
  border-radius: 50%;
  cursor: pointer;
}

#carousel-slider::-moz-range-thumb {
  width: 60px;
  height: 16px;
  background: #6073a1;
  border-radius: 50%;
  cursor: pointer;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  position: relative;
  min-width: 300px;
  height: 210px;
  background: #6a54ff;
  color: white;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 16px 13px 16px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  grid-template-rows: repeat(3, 1fr); /* 3 equal rows */
}

.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.currency-box {
  grid-column: 1;
  grid-row: 1;
}

.income-box {
  grid-column: 1;
  grid-row: 2;
}

.card-background {
  justify-self: end;
  grid-column: 2;
  grid-row: 1 / 3;
  margin-right: -13px;
}

.target-box {
  grid-column: 1 / 3;
  grid-row: 3;
  display: flex;
  justify-content: space-between;
}

.currecny {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--text-light);
}

.timestamp {
  font-weight: 500;
  line-height: 18px;
  opacity: 0.4;
}

.income {
  opacity: 0.7;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-light);
}

.income-value {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-ultra);
}

.target {
  opacity: 0.7;
  font-weight: 500;
  line-height: 18px;
  color: var(--text-light);
}

.date {
  opacity: 0.4;
  line-height: 18px;
  color: var(--text-light);
}

/*Section About styles */

.about {
  background-color: var(--light-color);
  padding-bottom: 40px;
}

.wrapper.about-box {
  padding-top: 24px;
}

.about-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-dark);
  margin-bottom: 20px;
}

.about-text {
  font-size: 16px;
  color: var(--text-dark);
}

/* Section Company Description styles*/

.company-description {
  background-image: linear-gradient(
    to top,
    var(--secondary-color) 88%,
    var(--light-color) 12%
  );
}

.company-description .subscribe-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: var(--text-light);
  margin-bottom: 20px;
}

.company-description .subscribe-box {
  background-color: var(--violet);
  padding: 16px;
  border-radius: 4px;
  max-width: 630px;
  justify-self: center;
  position: relative;
  z-index: 1;
}

.description.subscribe {
  flex-direction: column;
  gap: 8px;
  background-color: transparent;
}

.description.subscribe input {
  padding: 16px;
  border-radius: 4px;
}

.description-card-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.description-card {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.description-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 40px;
}

.description-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--light-color);
  margin-bottom: 8px;
}

.description-card-text {
  opacity: 0.8;
  color: var(--light-color);
}

/* Section Tariffs styles*/
.tariffs {
  background-color: var(--secondary-color);
  padding-top: 45px;
  padding-bottom: 44px;
}

.tariffs-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-light);
  margin-bottom: 24px;
}

.tariff-select {
  background-color: var(--dark-violet);
  display: flex;
  padding: 4px;
  margin-bottom: 24px;
  border-radius: 4px;
}

.tariff-select button {
  flex: 1;
  max-width: 180px;
  box-shadow: none;
}

.tariff-select .button-transparent {
  border: 2px solid var(--dark-violet);
}

.tariff-option {
  border: 1px solid var(--violet);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
}

.tariff-option-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--text-light);
  margin-bottom: 24px;
  padding: 0 16px;
}

.tariff-details-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tariff-details {
  padding: 0 16px;
  display: flex;
  align-items: baseline;

  gap: 8px;
  margin-bottom: 16px;
}

.tariff-details img {
  width: 12px;
  height: 12px;
}

.dashed-divider {
  border: none;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.tariff-details p {
  font-size: 16px;
  line-height: 20px;
  color: var(--text-light);
}

.duration-box {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 55px;
  padding: 0 16px;
  margin-bottom: 24px;
}

.tariff-price {
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  color: var(--text-light);
}

.discount {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--text-ultra);
  position: absolute;
  top: -5%;
  right: -60%;
}

.tariff-container {
  position: relative;
  display: inline-block;
}

.select-duration {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin: 2px 0;
  color: var(--text-light);
}

.select-duration:focus {
  outline: none;
}

.select-duration option {
  color: var(--text-dark);
  background-color: rgba(255, 255, 255, 0.2);
}

.select-duration option:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.tariff-option .button-filled {
  margin: 0 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 8px;
}

.tariff-option .button-filled {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-filled .additional-option {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  opacity: 0.56;
}

.tariff-option.vip {
  margin-top: 20px;
  background-color: var(--violet);
}

/* Section FAQ Styles */

.faq {
  background: var(--light-color);
  padding-top: 56px;
  padding-bottom: 54px;
}

.faq-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--text-dark);
  margin-bottom: 40px;
}

.accordion {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.accordion-header {
  background-color: #eaeff0;
  padding: 16px;
  padding-bottom: 12px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.accordion-header.active {
  background-color: var(--violet);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.accordion-header.active h3 {
  color: var(--text-light);
}

.accordion-header h3 {
  width: 80%;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--text-dark);
}

.accordion-open {
  transition: transform 0.3s ease;
  stroke: var(--secondary-color);
}

.accordion-open.active {
  transform: rotate(180deg);
  stroke: var(--light-color);
}

.accordion-content {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  background-color: var(--violet);
  padding: 0 16px;
}

.accordion-content p {
  font-size: 16px;
  color: var(--text-light);
  padding-bottom: 16px;
  margin: 0;
}

/* Footer styles */

.footer {
  background-color: var(--secondary-color);
}

.top-footer {
  padding: 40px 42px 57px 15px;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  opacity: 0.4;
  text-transform: uppercase;
  color: var(--text-light);
}

.footer-menu li {
  margin-bottom: 16px;
}

.footer-menu-item {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--text-light);
  text-decoration: none;
}

.footer-divider {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bottom-footer {
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.legal {
  opacity: 0.5;
  text-decoration: none;
  color: var(--text-light);
}

.bottom-divider {
  border: none;
  border-bottom: 5px solid var(--violet);
}
